<!DOCTYPE html>
<html>
    <head>
        <title>Goodbye</title>
    </head>
    <body>
        <h1>
        <% name = "Joe" %>
        <%= "Goodbye " + "#{name}" %> 
        </h1>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>